body {
    background-color: #f0f0f0;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.box {
    width: 40%;
    background-color: rgb(14, 23, 47);
    border-radius: 5px;
    padding: 2%;
    text-align: center;
    color: white;
    margin: 3%;
    font-family: monospace;
    font-size:0.9vw;
    border: 1px solid black;
    filter: drop-shadow(0 0 10px #000000);
}

.box-img {
    width: 35%;
    float: right;
    height: auto;
    text-align: right;
    border-radius: 50%;
    margin: 20px;
}

a:link {
    color: rgb(88, 194, 255);
}
/* visited link */
a:visited {
    color: rgb(88, 194, 255);
}
/* mouse over link */
a:hover {
    color: rgb(79, 79, 255);
}
/* selected link */
a:active {
    color: rgb(79, 79, 255);
}